{% extends "base.html" %}

{% load static %}

{% block scripts %} 

    <script src="{% static 'quizzes/quiz.js' %}" defer></script>

{% endblock scripts %}

{% block title %}

    {{ obj.name }}

{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col">

            <!-- To display the Quiz name  -->
            <h2><b>{{ obj.name }}</b></h2>

            <!-- to display the Pass Score of the Quiz  -->
            <p><strong>Pass Score:</strong> {{ obj.Pass_score }}%</p>

        </div>

        <div class="col text-right" id="timer-box">

        </div>

    </div>    

    <!-- To display the Quiz itself  -->
    <form action="" id="quiz-form" class="mt-3 mb-3">
        {% csrf_token %}
        <div id="quiz-box">

        </div>
        <button type="submit" class="btn btn-secondary">Save</button>
    </form>

    <!-- To display the Quiz Score  -->
    <div id="quiz-score">

    </div>

    <!-- To display the quiz result  -->
    <div id="quiz-result">

    </div>

    <!-- Link Back to Main Page  -->
    <a href="{% url 'Quiz:main-view' %}">
        <button class="btn btn-secondary">Main Page</button>
    </a>

{% endblock content %}